body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.container_users{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #212121;
    color: white;
    padding: 1rem;
}

#actives {
    list-style: none;
    padding: 0;
}

.container_write{
    background-color: #212121;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#messages{
    padding: 16px;
}

#chat {
    width: 65%;
    height: 90vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#chat li {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    margin-left: auto;
    display: inline-block;
}

#chat > li:nth-child(odd) { 
    background: #f67a7a;
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
}