@import './modules/navbar.css';
@import './modules/actives.css';
@import './modules/login.css';
@import './modules/chat.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

ul,
ol,
li {
    list-style: none;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}